@CHARSET "UTF-8";

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { 
	font-family: 'IBMPlexSansKR-Regular';
}

/* 그리드 수정 상태 행의 모든 컨트롤들 스타일 */
.cl-grid .cl-modified .cl-grid-cell .cl-control {
	color: black;
	font-weight: normal;
}

/* 행 스타일 */
.cl-grid .cl-grid-row {
	/* 보기 모드의 로우 */
	&.cl-viewing {
		.cl-grid-cell {
			.cl-inputbox, .cl-maskeditor, .cl-numbereditor, .cl-dateinput, .cl-combobox, .cl-searchinput {
			}
		}
	}
	
	/* 추가된 로우 */
	&.cl-inserted {
		color: black;
		font-weight: normal;
		
		.cl-default-cell, .cl-inputbox, .cl-output, .cl-maskeditor, .cl-numbereditor, .cl-dateinput, .cl-button, .cl-textarea, .cl-combobox, .cl-treecell, .cl-fileinput, .cl-searchinput {
			
		}
	}

	/* 수정된 로우 */
	&.cl-modified {
		color: black;
		font-weight: normal;
			
		.cl-default-cell, .cl-inputbox, .cl-output, .cl-maskeditor, .cl-numbereditor, .cl-dateinput, .cl-button, .cl-textarea, .cl-combobox, .cl-treecell, .cl-fileinput, .cl-searchinput {
			
		}
	}

	/* 삭제된 로우 */
	&.cl-deleted {
		.cl-default-cell, .cl-inputbox, .cl-output, .cl-maskeditor, .cl-numbereditor, .cl-dateinput, .cl-button, .cl-textarea, .cl-combobox, .cl-treecell, .cl-fileinput, .cl-searchinput {
		}
	}

	/* 추가 후 삭제된 로우*/
	&.cl-nullified {
		.cl-default-cell, .cl-inputbox, .cl-output, .cl-maskeditor, .cl-numbereditor, .cl-dateinput, .cl-button, .cl-textarea, .cl-combobox, .cl-treecell, .cl-fileinput, .cl-searchinput {
		}
	}

	/* 선택된 로우 - 보기 모드 */
	&.cl-selected {
		background-color: #d1edc7;
		color:@selection-foreground;

		/* 포커스 셀 */
		:focus, .cl-focus {
			background-color: #d1edc7;
			color:@selection-foreground;
		}
	}

	/* 편집중인 로우 */
	&.cl-editing {
		color: black;
		font-weight: normal;
	}

	/* 행 그룹시 그룹의 헤더 */
	&.cl-rowgroup-header {
	}

	/* 행 그룹시 그룹의 푸터 */
	&.cl-rowgroup-footer {
	}
}
